#container{
    display: flex;
   margin-top: 50px;
}

.cont{
    height:auto;width:80%;
}

.cont-img{
    height:60%;
    width:50%;
    margin: auto;
display: block;
}
.cont-p-1{
    font-weight: bold;
    font-size: x-large
}
.cont-p-2{
font-weight: lighter;
font-size: x-large
}
.cont-p-3{
    font-size: x-large
}
.per{
    color:green
}
.sec{
    text-decoration: line-through;
}

.card{
    width: 90%;
    margin: auto;
}